<div>
  <h2 id="page-heading" data-cy="EtablissementHeading">
    <span jhiTranslate="caissavance2App.etablissement.home.title">Etablissements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="caissavance2App.etablissement.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etablissement"
        [routerLink]="['/etablissement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="caissavance2App.etablissement.home.createLabel">Create a new Etablissement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etablissements?.length === 0">
    <span jhiTranslate="caissavance2App.etablissement.home.notFound">No Etablissements found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="etablissements && etablissements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="libelle">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.etablissement.libelle">Libelle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sigle">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.etablissement.sigle">Sigle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etablissement of etablissements; trackBy: trackId" data-cy="entityTable">
          <td>{{ etablissement.libelle }}</td>
          <td>{{ etablissement.sigle }}</td>

          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/etablissement', etablissement.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </a>

              <a [routerLink]="['/etablissement', etablissement.id, 'edit']" class="btn btn-primary btn-sm mx-1" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </a>

              <button type="submit" (click)="delete(etablissement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="etablissements && etablissements.length > 0">
    <div class="d-flex justify-content-end p-2">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="applyFilterAndSort()"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
