<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="caisse">
      <h2 data-cy="caisseDetailsHeading"><span jhiTranslate="caissavance2App.caisse.detail.title">Caisse</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ caisse.id }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.caisse.libelle">Libelle</span></dt>
        <dd>
          <span>{{ caisse.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.caisse.dateCreationCaisse">Date Creation Caisse</span></dt>
        <dd>
          <span>{{ caisse.dateCreationCaisse | formatMediumDatetime }}</span>
        </dd>

        <dt><span jhiTranslate="caissavance2App.caisse.solde">Solde</span></dt>
        <dd>
          <span>{{ caisse.solde }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.caisse.etat">Etat</span></dt>
        <dd>
          <span jhiTranslate="{{ 'caissavance2App.EtatCaisse.' + caisse.etat }}">{{ caisse.etat }}</span>
        </dd>

        <dt><span jhiTranslate="caissavance2App.caisse.etablissement">Etablissement</span></dt>
        <dd>
          <div *ngIf="caisse.etablissement">
            <a [routerLink]="['/etablissement', caisse.etablissement.id, 'view']">{{ caisse.etablissement.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/caisse', caisse.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
      <!-- <div *ngIf="caisse">
        <h2>Détails de la caisse : {{ caisse.libelle }}</h2>
        <p>Solde actuel : {{ caisse.solde }}</p>

        <hr />
       </div> -->
    </div>
  </div>
</div>

<hr />
<h3>Opérations de cette caisse</h3>

<div *ngIf="operations && operations.length > 0; else noOperation">
  <div *ngFor="let op of operations" class="card my-2 p-3 shadow-sm">
    <div>
      <strong>Type :</strong>
      {{ op.typeOperation?.libelle === 'CREDIT' ? 'Alimentation' : 'Dépense' }}
    </div>
    <div><strong>Montant :</strong> {{ op.montant | number: '1.0-0' }} FCFA</div>
    <div><strong>Date :</strong> {{ op.dateOperation?.toDate() | date: 'short' }}</div>
    <div><strong>Mode :</strong> {{ op.modeOperation?.libelle }}</div>
  </div>
</div>

<ng-template #noOperation>
  <p>Aucune opération enregistrée pour cette caisse.</p>
</ng-template>
