<div class="details-container" *ngIf="controle">
  <div class="details-card">
    <h2 class="details-title">
      <fa-icon icon="file-alt"></fa-icon>
      <span jhiTranslate="caissavance2App.controle.detail.title">Controle</span>
    </h2>

    <hr />

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <dl class="details-grid">
      <dt>ID</dt>
      <dd>{{ controle.id }}</dd>

      <dt jhiTranslate="caissavance2App.controle.dateControle">Date Controle</dt>
      <dd>{{ controle.dateControle | formatMediumDatetime }}</dd>

      <dt jhiTranslate="caissavance2App.controle.observation">Observation</dt>
      <dd>{{ controle.observation }}</dd>

      <dt jhiTranslate="caissavance2App.controle.caisse">Caisse</dt>
      <dd>
        <div *ngIf="controle.caisse">
          <a [routerLink]="['/caisse', controle.caisse.id, 'view']">{{ controle.caisse.id }}</a>
        </div>
      </dd>
    </dl>

    <div class="actions">
      <button type="button" class="btn btn-info" (click)="previousState()"><fa-icon icon="arrow-left"></fa-icon>&nbsp;Retour</button>
      <button type="button" [routerLink]="['/controle', controle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;Modifier
      </button>
    </div>
  </div>
</div>
