<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="etatOperation">
      <h2 data-cy="etatOperationDetailsHeading"><span jhiTranslate="caissavance2App.etatOperation.detail.title">Etat Operation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ etatOperation.id }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.etatOperation.libelle">Libelle</span></dt>
        <dd>
          <span>{{ etatOperation.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.etatOperation.dateHeureModification">Date Heure Modification</span></dt>
        <dd>
          <span>{{ etatOperation.dateHeureModification | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.etatOperation.dateHeureCreation">Date Heure Creation</span></dt>
        <dd>
          <span>{{ etatOperation.dateHeureCreation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.etatOperation.utiCree">Uti Cree</span></dt>
        <dd>
          <span>{{ etatOperation.utiCree }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.etatOperation.utiModifie">Uti Modifie</span></dt>
        <dd>
          <span>{{ etatOperation.utiModifie }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/etat-operation', etatOperation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
