<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="typeOperation">
      <h2 data-cy="typeOperationDetailsHeading"><span jhiTranslate="caissavance2App.typeOperation.detail.title">Type Operation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ typeOperation.id }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.typeOperation.libelle">Libelle</span></dt>
        <dd>
          <span>{{ typeOperation.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.typeOperation.dateHeureModification">Date Heure Modification</span></dt>
        <dd>
          <span>{{ typeOperation.dateHeureModification | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.typeOperation.dateHeureCreation">Date Heure Creation</span></dt>
        <dd>
          <span>{{ typeOperation.dateHeureCreation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.typeOperation.utiCree">Uti Cree</span></dt>
        <dd>
          <span>{{ typeOperation.utiCree }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.typeOperation.utiModifie">Uti Modifie</span></dt>
        <dd>
          <span>{{ typeOperation.utiModifie }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/type-operation', typeOperation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
