<div class="details-container" *ngIf="typeOperation">
  <div class="details-card">
    <h2 class="details-title">
      <fa-icon icon="file-alt"></fa-icon>
      <span jhiTranslate="caissavance2App.typeOperation.detail.title">Type Operation</span>
    </h2>

    <hr />

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <dl class="details-grid">
      <dt>ID</dt>
      <dd>{{ typeOperation.id }}</dd>

      <dt jhiTranslate="caissavance2App.typeOperation.libelle">Libelle</dt>
      <dd>{{ typeOperation.libelle }}</dd>
    </dl>

    <div class="actions">
      <button type="button" class="btn btn-info" (click)="previousState()"><fa-icon icon="arrow-left"></fa-icon>&nbsp;Retour</button>
      <button type="button" [routerLink]="['/type-operation', typeOperation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;Modifier
      </button>
    </div>
  </div>
</div>
