<div>
  <h2 id="page-heading" data-cy="CaisseHeading">
    <span jhiTranslate="caissavance2App.caisse.home.title">Caisses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="caissavance2App.caisse.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-caisse"
        [routerLink]="['/caisse/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="caissavance2App.caisse.home.createLabel">Create a new Caisse</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <!-- --- FORMULAIRE AMÉLIORÉ (remplace ton <form> actuel par celui-ci) --- -->
  <form class="mb-3 col-md-3">
    <div class="card shadow-sm border-0 rounded-3">
      <div class="card-body p-2">
        <div class="row g-2 align-items-center">
          <!-- Champ de recherche -->
          <div class="col-12 col-md-8">
            <label class="visually-hidden" for="caisse-search">Recherche</label>
            <div class="input-group">
              <span class="input-group-text bg-light border-0">
                <fa-icon icon="search"></fa-icon>
              </span>
              <input id="caisse-search" type="text" class="form-control" [formControl]="filter" placeholder="🔍 Rechercher..." />
            </div>
          </div>

          <!-- Filtre établissement -->
          <div class="col-12 col-md-4">
            <label class="visually-hidden" for="etablissement-filter">Etablissement</label>
            <div class="input-group">
              <span class="input-group-text bg-light border-0">
                <fa-icon icon="building"></fa-icon>
              </span>
              <select id="etablissement-filter" class="form-select" [formControl]="etablissementFilter">
                <option [ngValue]="null">Tous les établissements</option>
                <option *ngFor="let e of etablissements" [ngValue]="e.id">
                  {{ e.libelle }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- --- FIN FORMULAIRE AMÉLIORÉ --- -->

  <div class="alert alert-warning" id="no-result" *ngIf="caisses?.length === 0">
    <span jhiTranslate="caissavance2App.caisse.home.notFound">No Caisses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="caisses && caisses.length > 0">
    <table class="table table-bordered" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="libelle">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.caisse.libelle">Libelle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="etablissement.id">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.caisse.etablissement">Etablissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="solde">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.caisse.solde">Solde</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etat">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.caisse.etat">Etat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="action">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.caisse.action">Action</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caisse of caisses; trackBy: trackId" data-cy="entityTable">
          <td>{{ caisse.libelle }}</td>
          <td>
            <div *ngIf="caisse.etablissement">
              <a [routerLink]="['/etablissement', caisse.etablissement.libelle, 'view']">{{ caisse.etablissement.libelle }}</a>
            </div>
          </td>

          <td>{{ caisse.solde }}</td>
          <td jhiTranslate="{{ 'caissavance2App.EtatCaisse.' + caisse.etat }}">{{ caisse.etat }}</td>

          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/caisse', caisse.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </a>

              <a [routerLink]="['/caisse', caisse.id, 'edit']" class="btn btn-primary btn-sm mx-1" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </a>

              <button type="submit" (click)="delete(caisse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="caisses && caisses.length > 0">
    <div class="d-flex justify-content-end p-2">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="applyFilterAndSort()"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
