<div>
  <h2 id="page-heading" data-cy="DemandeHeading">
    <span jhiTranslate="caissavance2App.demande.home.title">Demandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="caissavance2App.demande.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande"
        [routerLink]="['/demande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="caissavance2App.demande.home.createLabel">Create a new Demande</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <!-- --- FORMULAIRE AMÉLIORÉ (remplace ton <form> actuel par celui-ci) --- -->
  <form class="mb-3 col-md-3">
    <div class="card shadow-sm border-0 rounded-3">
      <div class="card-body p-2">
        <div class="row g-2 align-items-center">
          <!-- Champ de recherche -->
          <div class="col-12 col-md-8">
            <label class="visually-hidden" for="demande-search">Recherche</label>
            <div class="input-group">
              <span class="input-group-text bg-light border-0">
                <fa-icon icon="search"></fa-icon>
              </span>
              <input id="demande-search" type="text" class="form-control" [formControl]="filter" placeholder="🔍 Rechercher..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- --- FIN FORMULAIRE AMÉLIORÉ --- -->
  <div class="alert alert-warning" id="no-result" *ngIf="demandes?.length === 0">
    <span jhiTranslate="caissavance2App.demande.home.notFound">No Demandes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="demandes && demandes.length > 0">
    <table class="table table-bordered" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- 
          <th scope="col" jhiSortBy="motif">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.motif">Motif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th> -->

          <th scope="col" jhiSortBy="intitule">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.intitule">Intituté</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="etablissement.id">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.etablissement">Etablissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etat">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.etat">Etat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="action" class="text-end">
            <div class="d-flex justify-content-end">
              <span> Actions</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <!-- <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demande of demandes; trackBy: trackId" data-cy="entityTable">
          <!-- <td jhiTranslate="{{ 'caissavance2App.Type.' + demande.type }}">{{ demande.type }}</td> -->
          <td>
            <span *ngIf="demande?.type">{{ EnumTypeLabels[demande.type!] }}</span>
          </td>
          <!-- <td>{{ demande.motif }}</td> -->
          <td>{{ demande.intitule }}</td>
          <td>
            <div *ngIf="demande.etablissement">
              <a [routerLink]="['/etablissement', demande.etablissement.id, 'view']">{{ demande.etablissement.libelle }}</a>
            </div>
          </td>

          <td>
            <span
              [ngClass]="{
                'badge rounded-pill bg-warning': demande.etat === ETATEN_ATTENTE,
                'badge rounded-pill bg-success': demande.etat === ETATVALIDEE,
                'badge rounded-pill bg-danger': demande.etat === ETATREFUSEE,
                'badge rounded-pill bg-primary': demande.etat === ETATEXECUTEE
              }"
            >
              {{
                demande.etat === ETATEN_ATTENTE
                  ? 'En attente'
                  : demande.etat === ETATVALIDEE
                  ? 'Validée'
                  : demande.etat === ETATREFUSEE
                  ? 'Refusée'
                  : 'Exécutée'
              }}
            </span>

            <button
              *ngIf="demande.etat === 'REFUSEE_DFC' && demande?.motif"
              class="btn btn-info btn-sm ms-1"
              (click)="openMotif(demande.motif!)"
            >
              Motif
            </button>
          </td>

          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/demande', demande.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </a>

              <a [routerLink]="['/demande', demande.id, 'edit']" class="btn btn-primary btn-sm mx-1" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </a>

              <button type="submit" (click)="delete(demande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="demandes && demandes.length > 0">
    <div class="d-flex justify-content-end p-2">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="applyFilterAndSort()"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
