<div>
  <h2 id="page-heading" data-cy="DemandeHeading">
    <span jhiTranslate="caissavance2App.demande.home.title">Demandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="caissavance2App.demande.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande"
        [routerLink]="['/demande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="caissavance2App.demande.home.createLabel">Create a new Demande</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandes?.length === 0">
    <span jhiTranslate="caissavance2App.demande.home.notFound">No Demandes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="demandes && demandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="objet">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.objet">Objet</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDemande">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.dateDemande">Date Demande</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="motif">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.motif">Motif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateHeureModification">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.dateHeureModification">Date Heure Modification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateHeureCreation">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.dateHeureCreation">Date Heure Creation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="utiCree">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.utiCree">Uti Cree</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="utiModifie">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.utiModifie">Uti Modifie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etablissement.id">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.demande.etablissement">Etablissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demande of demandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande', demande.id, 'view']">{{ demande.id }}</a>
          </td>
          <td jhiTranslate="{{ 'caissavance2App.Objet.' + demande.objet }}">{{ demande.objet }}</td>
          <td>{{ demande.dateDemande | formatMediumDatetime }}</td>
          <td>{{ demande.motif }}</td>
          <td>{{ demande.dateHeureModification | formatMediumDatetime }}</td>
          <td>{{ demande.dateHeureCreation | formatMediumDatetime }}</td>
          <td>{{ demande.utiCree }}</td>
          <td>{{ demande.utiModifie }}</td>
          <td>
            <div *ngIf="demande.etablissement">
              <a [routerLink]="['/etablissement', demande.etablissement.id, 'view']">{{ demande.etablissement.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/demande', demande.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/demande', demande.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(demande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
