<div class="details-container" *ngIf="operation">
  <div class="details-card">
    <h2 class="details-title">
      <fa-icon icon="file-alt"></fa-icon>
      <span jhiTranslate="caissavance2App.operation.detail.title">Operation</span>
    </h2>

    <hr />

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <dl class="details-grid">
      <dt>ID</dt>
      <dd>{{ operation.id }}</dd>

      <dt jhiTranslate="caissavance2App.operation.numero">Numero</dt>
      <dd>{{ operation.numero }}</dd>

      <dt jhiTranslate="caissavance2App.operation.commentaire">Commentaire</dt>
      <dd>{{ operation.commentaire }}</dd>

      <dt jhiTranslate="caissavance2App.operation.montant">Montant</dt>
      <dd>{{ operation.montant }}</dd>

      <dt jhiTranslate="caissavance2App.operation.dateOperation">Date Operation</dt>
      <dd>{{ operation.dateOperation | formatMediumDatetime }}</dd>

      <dt jhiTranslate="caissavance2App.operation.caisse">Caisse</dt>
      <dd>
        <div *ngIf="operation.caisse">
          <a [routerLink]="['/caisse', operation.caisse.id, 'view']">{{ operation.caisse.id }}</a>
        </div>
      </dd>

      <dt jhiTranslate="caissavance2App.operation.typeOperation">Type Operation</dt>
      <dd>
        <div *ngIf="operation.typeOperation">
          <a [routerLink]="['/type-operation', operation.typeOperation.id, 'view']">{{ operation.typeOperation.id }}</a>
        </div>
      </dd>

      <dt jhiTranslate="caissavance2App.operation.modeOperation">Mode Operation</dt>
      <dd>
        <div *ngIf="operation.modeOperation">
          <a [routerLink]="['/mode-operation', operation.modeOperation.id, 'view']">{{ operation.modeOperation.id }}</a>
        </div>
      </dd>
    </dl>

    <div class="actions">
      <button type="button" class="btn btn-info" (click)="previousState()"><fa-icon icon="arrow-left"></fa-icon>&nbsp;Retour</button>
      <button type="button" [routerLink]="['/operation', operation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;Modifier
      </button>
    </div>
  </div>
</div>
