<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="caisseRubrique">
      <h2 data-cy="caisseRubriqueDetailsHeading">
        <span jhiTranslate="caissavance2App.caisseRubrique.detail.title">Caisse Rubrique</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ caisseRubrique.id }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.caisseRubrique.dateHeureModification">Date Heure Modification</span></dt>
        <dd>
          <span>{{ caisseRubrique.dateHeureModification | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.caisseRubrique.dateHeureCreation">Date Heure Creation</span></dt>
        <dd>
          <span>{{ caisseRubrique.dateHeureCreation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.caisseRubrique.utiCree">Uti Cree</span></dt>
        <dd>
          <span>{{ caisseRubrique.utiCree }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.caisseRubrique.utiModifie">Uti Modifie</span></dt>
        <dd>
          <span>{{ caisseRubrique.utiModifie }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.caisseRubrique.caisse">Caisse</span></dt>
        <dd>
          <div *ngIf="caisseRubrique.caisse">
            <a [routerLink]="['/caisse', caisseRubrique.caisse.id, 'view']">{{ caisseRubrique.caisse.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="caissavance2App.caisseRubrique.rubrique">Rubrique</span></dt>
        <dd>
          <div *ngIf="caisseRubrique.rubrique">
            <a [routerLink]="['/rubrique', caisseRubrique.rubrique.id, 'view']">{{ caisseRubrique.rubrique.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/caisse-rubrique', caisseRubrique.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
