<div class="etablissement-details-container" *ngIf="etablissement">
  <div class="etablissement-card">
    <h2 class="etablissement-title">
      <fa-icon icon="building"></fa-icon>
      <span jhiTranslate="caissavance2App.etablissement.detail.title">Etablissement</span>
    </h2>

    <hr />

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>

    <dl class="details-grid">
      <dt>ID</dt>
      <dd>{{ etablissement.id }}</dd>

      <dt>Libellé</dt>
      <dd>{{ etablissement.libelle }}</dd>

      <dt>Sigle</dt>
      <dd>{{ etablissement.sigle }}</dd>
    </dl>

    <div class="actions">
      <button type="submit" (click)="previousState()" class="btn btn-outline-secondary">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;Retour
      </button>
      <button type="button" [routerLink]="['/etablissement', etablissement.id, 'edit']" class="btn btn-outline-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;Modifier
      </button>
    </div>
  </div>
</div>
