<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="demande">
      <h2 data-cy="demandeDetailsHeading"><span jhiTranslate="caissavance2App.demande.detail.title">Demande</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="caissavance2App.demande.objet">Objet</span></dt>
        <dd>
          <span jhiTranslate="{{ 'caissavance2App.Objet.' + demande.objet }}">{{ demande.objet }}</span>
        </dd>

        <ng-container *ngIf="demande?.objet === 'CREATION_CAISSE'">
          <dt><span jhiTranslate="caissavance2App.demande.libelle">Libellé de la caisse</span></dt>
          <dd>
            <span>{{ demande.libelle }}</span>
          </dd>
        </ng-container>

        <!-- ALIMENTATION_CAISSE -->
        <ng-container *ngIf="demande?.objet === 'ALIMENTATION_CAISSE'">
          <dt><span jhiTranslate="caissavance2App.demande.montant">Montant</span></dt>
          <dd>
            <span>{{ demande.montant }}</span>
          </dd>
        </ng-container>
        <dt><span jhiTranslate="caissavance2App.demande.dateDemande">Date Demande</span></dt>
        <dd>
          <span>{{ demande.dateDemande | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.demande.motif">Motif</span></dt>
        <dd>
          <span>{{ demande.motif }}</span>
        </dd>

        <dt><span jhiTranslate="caissavance2App.demande.etablissement">Etablissement</span></dt>
        <dd>
          <div *ngIf="demande.etablissement">
            <a [routerLink]="['/etablissement', demande.etablissement.id, 'view']">{{ demande.etablissement.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/demande', demande.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
