<div>
  <h2 id="page-heading" data-cy="ModeOperationHeading">
    <span jhiTranslate="caissavance2App.modeOperation.home.title">Mode Operations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="caissavance2App.modeOperation.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mode-operation"
        [routerLink]="['/mode-operation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="caissavance2App.modeOperation.home.createLabel">Create a new Mode Operation</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="modeOperations?.length === 0">
    <span jhiTranslate="caissavance2App.modeOperation.home.notFound">No Mode Operations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="modeOperations && modeOperations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libelle">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.modeOperation.libelle">Libelle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateHeureModification">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.modeOperation.dateHeureModification">Date Heure Modification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateHeureCreation">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.modeOperation.dateHeureCreation">Date Heure Creation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="utiCree">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.modeOperation.utiCree">Uti Cree</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="utiModifie">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.modeOperation.utiModifie">Uti Modifie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modeOperation of modeOperations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mode-operation', modeOperation.id, 'view']">{{ modeOperation.id }}</a>
          </td>
          <td>{{ modeOperation.libelle }}</td>
          <td>{{ modeOperation.dateHeureModification | formatMediumDatetime }}</td>
          <td>{{ modeOperation.dateHeureCreation | formatMediumDatetime }}</td>
          <td>{{ modeOperation.utiCree }}</td>
          <td>{{ modeOperation.utiModifie }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/mode-operation', modeOperation.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/mode-operation', modeOperation.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(modeOperation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
