<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="agentEtatProfil">
      <h2 data-cy="agentEtatProfilDetailsHeading">
        <span jhiTranslate="caissavance2App.agentEtatProfil.detail.title">Agent Etat Profil</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ agentEtatProfil.id }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.agentEtatProfil.profil">Profil</span></dt>
        <dd>
          <span>{{ agentEtatProfil.profil }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.agentEtatProfil.actif">Actif</span></dt>
        <dd>
          <span>{{ agentEtatProfil.actif }}</span>
        </dd>

        <dt><span jhiTranslate="caissavance2App.agentEtatProfil.agent">Agent</span></dt>
        <dd>
          <div *ngIf="agentEtatProfil.agent">
            <a [routerLink]="['/agent', agentEtatProfil.agent.id, 'view']">{{ agentEtatProfil.agent.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="caissavance2App.agentEtatProfil.etablissement">Etablissement</span></dt>
        <dd>
          <div *ngIf="agentEtatProfil.etablissement">
            <a [routerLink]="['/etablissement', agentEtatProfil.etablissement.id, 'view']">{{ agentEtatProfil.etablissement.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/agent-etat-profil', agentEtatProfil.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
