<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-etablissement-heading"
        data-cy="EtablissementCreateUpdateHeading"
        jhiTranslate="caissavance2App.etablissement.home.createOrEditLabel"
      >
        Create or edit a Etablissement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.etablissement.libelle" for="field_libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
          <div *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('libelle')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.etablissement.sigle" for="field_sigle">Sigle</label>
          <input type="text" class="form-control" name="sigle" id="field_sigle" data-cy="sigle" formControlName="sigle" />
          <div *ngIf="editForm.get('sigle')!.invalid && (editForm.get('sigle')!.dirty || editForm.get('sigle')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('sigle')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.etablissement.dateHeureModification" for="field_dateHeureModification"
            >Date Heure Modification</label
          >
          <div class="d-flex">
            <input
              id="field_dateHeureModification"
              data-cy="dateHeureModification"
              type="datetime-local"
              class="form-control"
              name="dateHeureModification"
              formControlName="dateHeureModification"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.etablissement.dateHeureCreation" for="field_dateHeureCreation"
            >Date Heure Creation</label
          >
          <div class="d-flex">
            <input
              id="field_dateHeureCreation"
              data-cy="dateHeureCreation"
              type="datetime-local"
              class="form-control"
              name="dateHeureCreation"
              formControlName="dateHeureCreation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.etablissement.utiCree" for="field_utiCree">Uti Cree</label>
          <input type="number" class="form-control" name="utiCree" id="field_utiCree" data-cy="utiCree" formControlName="utiCree" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.etablissement.utiModifie" for="field_utiModifie">Uti Modifie</label>
          <input
            type="number"
            class="form-control"
            name="utiModifie"
            id="field_utiModifie"
            data-cy="utiModifie"
            formControlName="utiModifie"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
