<div class="details-container">
  <div class="details-card">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 class="details-title">
        <fa-icon icon="edit"></fa-icon>
        <span jhiTranslate="caissavance2App.etablissement.home.createOrEditLabel">Create or edit a Etablissement</span>
      </h2>

      <jhi-alert-error></jhi-alert-error>

      <div class="form-grid">
        <div class="form-group" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-label" jhiTranslate="caissavance2App.etablissement.libelle" for="field_libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
          <small
            class="text-danger"
            *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)"
          >
            <span *ngIf="editForm.get('libelle')?.errors?.required" jhiTranslate="entity.validation.required">This field is required.</span>
          </small>
        </div>

        <div class="form-group">
          <label class="form-label" jhiTranslate="caissavance2App.etablissement.sigle" for="field_sigle">Sigle</label>
          <input type="text" class="form-control" name="sigle" id="field_sigle" data-cy="sigle" formControlName="sigle" />
          <small
            class="text-danger"
            *ngIf="editForm.get('sigle')!.invalid && (editForm.get('sigle')!.dirty || editForm.get('sigle')!.touched)"
          >
            <span *ngIf="editForm.get('sigle')?.errors?.required" jhiTranslate="entity.validation.required">This field is required.</span>
          </small>
        </div>
      </div>

      <div class="actions">
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
