<div class="container py-4">
  <!-- Bouton retour -->
  <button type="button" (click)="previousState()" class="btn btn-outline-primary mb-3"><fa-icon icon="arrow-left"></fa-icon> Retour</button>

  <!-- En-tête -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-primary">
      💸 Dépenses de la caisse : <span class="text-dark">{{ caisse?.libelle }}</span>
    </h2>

    <button class="btn btn-success shadow-sm" [routerLink]="['/caisse', caisse?.id, 'effectuer-depense']">
      <fa-icon icon="plus"></fa-icon> Ajouter une dépense
    </button>
  </div>

  <!-- Chargement -->
  <div *ngIf="isLoading" class="text-center my-4">
    <div class="spinner-border text-primary" role="status"></div>
  </div>

  <!-- Tableau des dépenses -->
  <div *ngIf="!isLoading">
    <div *ngIf="operations && operations.length > 0; else noOperation">
      <div class="table-responsive d-flex justify-content-center">
        <table class="table table-striped table-hover shadow-lg rounded-3 w-75">
          <thead class="table-dark text-center">
            <tr>
              <th>Numéro</th>
              <th>Montant (CFA)</th>
              <th>Date</th>
              <th>Mode</th>
              <th>Type</th>
              <th>Pièce Justificative</th>
            </tr>
          </thead>
          <tbody class="text-center align-middle">
            <tr *ngFor="let op of operations" class="table-light">
              <td>{{ op.numero }}</td>
              <td class="fw-bold text-danger">{{ op.montant | number: '1.0-0' }}</td>
              <td>
                {{ op.dateOperation ? (op.dateOperation.toDate() | date: 'dd-MM-yyyy à HH:mm:ss') : '' }}
              </td>
              <td>{{ op.modeOperation?.libelle }}</td>
              <td>
                <span class="badge bg-danger">
                  {{ op.typeOperation?.libelle }}
                </span>
              </td>
              <td>
                <button
                  class="btn btn-sm btn-outline-primary"
                  [routerLink]="['/piece-justificatif/new']"
                  [queryParams]="{ operationId: op.id }"
                >
                  Ajouter
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Message si aucune dépense -->
    <ng-template #noOperation>
      <div class="alert alert-warning text-center mt-4 shadow-sm w-75 mx-auto">Aucune dépense trouvée pour cette caisse.</div>
    </ng-template>
  </div>
</div>
