<div class="demande-details">
  <button type="submit" (click)="previousState()" class="btn btn-primary"><fa-icon icon="arrow-left"></fa-icon>&nbsp;</button>
  <h2 class="demande-title">
    <ng-container *ngIf="titreDemande; else defaultTitle">
      {{ titreDemande }}
    </ng-container>

    <ng-template #defaultTitle>
      {{ demande?.id ? 'Modifier la Demande' : 'Créer une Demande' }}
    </ng-template>
  </h2>

  <hr />

  <form class="demande-form" [formGroup]="editForm" (ngSubmit)="save()">
    <div class="form-grid">
      <!-- Type -->
      <div class="form-group" *ngIf="!fromCaisse">
        <label>Type</label>
        <select formControlName="type">
          <option [ngValue]="null">Sélectionner un type</option>
          <option *ngFor="let type of typeValues" [ngValue]="type">{{ type }}</option>
        </select>
      </div>

      <!-- Établissement -->
      <div class="form-group" *ngIf="!fromCaisse">
        <label>Établissement demandeur</label>
        <select formControlName="etablissement" [compareWith]="compareEtab">
          <option [ngValue]="null">Sélectionner un établissement</option>
          <option *ngFor="let etab of etablissementsSharedCollection" [ngValue]="etab">
            {{ etab.libelle }}
          </option>
        </select>
      </div>

      <!-- L'intitulé de la caisse pour CREATION_CAISSE -->
      <div class="form-group" *ngIf="editForm.get('type')?.value === 'CREATION_CAISSE'">
        <label>L'intitulé de la caisse</label>
        <input type="text" formControlName="intitule" placeholder="L'intitulé de la caisse" />
      </div>

      <!-- Caisse -->
      <div
        class="form-group"
        *ngIf="!fromCaisse && ['ALIMENTATION_CAISSE', 'CLOTURE_CAISSE', 'REOUVERTURE_CAISSE'].includes(editForm.get('type')?.value || '')"
      >
        <label>
          Caisse
          <span *ngIf="editForm.get('type')?.value === TYPEALIMENTATIONCAISSE">à alimenter</span>
          <span *ngIf="editForm.get('type')?.value === TYPECLOTURECAISSE">à clôturer</span>
          <span *ngIf="editForm.get('type')?.value === TYPEREOUVERTURECAISSE">à rouvrir</span>
        </label>
        <select formControlName="caisseId">
          <option [ngValue]="null">Sélectionner une caisse</option>
          <option *ngFor="let caisse of filteredCaisses" [ngValue]="caisse.id">
            {{ caisse.libelle }} (Solde: {{ caisse.solde || 0 }})
          </option>
        </select>
      </div>

      <!-- Montant uniquement pour alimentation -->
      <div class="form-group" *ngIf="editForm.get('type')?.value === 'ALIMENTATION_CAISSE'">
        <label>Montant à alimenter</label>
        <input type="number" formControlName="montant" placeholder="Montant" min="0" required />
      </div>

      <!-- Objet -->
      <div class="form-group">
        <label>Objet</label>
        <textarea formControlName="objet" placeholder="Entrez un objet" required></textarea>
      </div>
    </div>

    <button type="submit" class="btn-demande" [disabled]="editForm.invalid || isSaving">Enregistrer</button>
  </form>
</div>
