<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-demande-heading" data-cy="DemandeCreateUpdateHeading" jhiTranslate="caissavance2App.demande.home.createOrEditLabel">
        Create or edit a Demande
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.demande.objet" for="field_objet">Objet</label>
          <select class="form-control" name="objet" formControlName="objet" id="field_objet" data-cy="objet">
            <option [ngValue]="null">{{ 'caissavance2App.Objet.null' | translate }}</option>
            <option *ngFor="let objet of objetValues" [value]="objet">{{ 'caissavance2App.Objet.' + objet | translate }}</option>
          </select>
          <div *ngIf="editForm.get('objet')!.invalid && (editForm.get('objet')!.dirty || editForm.get('objet')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('objet')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.demande.dateDemande" for="field_dateDemande">Date Demande</label>
          <div class="d-flex">
            <input
              id="field_dateDemande"
              data-cy="dateDemande"
              type="datetime-local"
              class="form-control"
              name="dateDemande"
              formControlName="dateDemande"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.demande.motif" for="field_motif">Motif</label>
          <input type="text" class="form-control" name="motif" id="field_motif" data-cy="motif" formControlName="motif" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.demande.dateHeureModification" for="field_dateHeureModification"
            >Date Heure Modification</label
          >
          <div class="d-flex">
            <input
              id="field_dateHeureModification"
              data-cy="dateHeureModification"
              type="datetime-local"
              class="form-control"
              name="dateHeureModification"
              formControlName="dateHeureModification"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.demande.dateHeureCreation" for="field_dateHeureCreation"
            >Date Heure Creation</label
          >
          <div class="d-flex">
            <input
              id="field_dateHeureCreation"
              data-cy="dateHeureCreation"
              type="datetime-local"
              class="form-control"
              name="dateHeureCreation"
              formControlName="dateHeureCreation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.demande.utiCree" for="field_utiCree">Uti Cree</label>
          <input type="number" class="form-control" name="utiCree" id="field_utiCree" data-cy="utiCree" formControlName="utiCree" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.demande.utiModifie" for="field_utiModifie">Uti Modifie</label>
          <input
            type="number"
            class="form-control"
            name="utiModifie"
            id="field_utiModifie"
            data-cy="utiModifie"
            formControlName="utiModifie"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="caissavance2App.demande.etablissement" for="field_etablissement">Etablissement</label>
          <select
            class="form-control"
            id="field_etablissement"
            data-cy="etablissement"
            name="etablissement"
            formControlName="etablissement"
            [compareWith]="compareEtablissement"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="etablissementOption" *ngFor="let etablissementOption of etablissementsSharedCollection">
              {{ etablissementOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
