<div>
  <h2 id="page-heading" data-cy="GerantCaisseHeading">
    <span jhiTranslate="caissavance2App.gerantCaisse.home.title">Gerant Caisses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="caissavance2App.gerantCaisse.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-gerant-caisse"
        [routerLink]="['/gerant-caisse/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="caissavance2App.gerantCaisse.home.createLabel">Create a new Gerant Caisse</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gerantCaisses?.length === 0">
    <span jhiTranslate="caissavance2App.gerantCaisse.home.notFound">No Gerant Caisses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="gerantCaisses && gerantCaisses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="actif">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.gerantCaisse.actif">Actif</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateHeureModification">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.gerantCaisse.dateHeureModification">Date Heure Modification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateHeureCreation">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.gerantCaisse.dateHeureCreation">Date Heure Creation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="utiCree">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.gerantCaisse.utiCree">Uti Cree</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="utiModifie">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.gerantCaisse.utiModifie">Uti Modifie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="caisse.id">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.gerantCaisse.caisse">Caisse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gerant.id">
            <div class="d-flex">
              <span jhiTranslate="caissavance2App.gerantCaisse.gerant">Gerant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gerantCaisse of gerantCaisses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/gerant-caisse', gerantCaisse.id, 'view']">{{ gerantCaisse.id }}</a>
          </td>
          <td>{{ gerantCaisse.actif }}</td>
          <td>{{ gerantCaisse.dateHeureModification | formatMediumDatetime }}</td>
          <td>{{ gerantCaisse.dateHeureCreation | formatMediumDatetime }}</td>
          <td>{{ gerantCaisse.utiCree }}</td>
          <td>{{ gerantCaisse.utiModifie }}</td>
          <td>
            <div *ngIf="gerantCaisse.caisse">
              <a [routerLink]="['/caisse', gerantCaisse.caisse.id, 'view']">{{ gerantCaisse.caisse.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="gerantCaisse.gerant">
              <a [routerLink]="['/gerant', gerantCaisse.gerant.id, 'view']">{{ gerantCaisse.gerant.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/gerant-caisse', gerantCaisse.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/gerant-caisse', gerantCaisse.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(gerantCaisse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
