<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="rubrique">
      <h2 data-cy="rubriqueDetailsHeading"><span jhiTranslate="caissavance2App.rubrique.detail.title">Rubrique</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rubrique.id }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.rubrique.libelle">Libelle</span></dt>
        <dd>
          <span>{{ rubrique.libelle }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.rubrique.description">Description</span></dt>
        <dd>
          <span>{{ rubrique.description }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.rubrique.code">Code</span></dt>
        <dd>
          <span>{{ rubrique.code }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.rubrique.dateHeureModification">Date Heure Modification</span></dt>
        <dd>
          <span>{{ rubrique.dateHeureModification | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.rubrique.dateHeureCreation">Date Heure Creation</span></dt>
        <dd>
          <span>{{ rubrique.dateHeureCreation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.rubrique.utiCree">Uti Cree</span></dt>
        <dd>
          <span>{{ rubrique.utiCree }}</span>
        </dd>
        <dt><span jhiTranslate="caissavance2App.rubrique.utiModifie">Uti Modifie</span></dt>
        <dd>
          <span>{{ rubrique.utiModifie }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rubrique', rubrique.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
